.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Text-Field{
    width: 100%;
    margin: 20px;
    height: 50px;
    background-color: #f1f1f1;
    border: none;
    outline: auto;
    font-size: 30px;
    color: black;
  }

.button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    /* background-color: #4CAF50; */
    background-color: #586488bd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {
    /* background-color: #3e8e41; */
    background-color: #656c81bd;
  }
  
  .button:active {
    /* background-color: #3e8e41; */
    background-color: #656c81bd;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }